<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>vue2.5网页练习</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="root">
	<h4>todo-list[回车添加]</h4>
	<input type="text" v-model="todoInputValue" @keyup.enter="handleSubmit">
	<ul>
		<!-- <li v-for="(item, index) of todoLists">{{ item }}</li> -->
		<todo-item v-for="(item, index) of todoLists" :item=item :index=index :key=item></todo-item>
	</ul>

	<h4>循环迭代</h4>
	<ul>
		<li v-for="(item, index) of loopItems" :key="item">值:{{item}}&nbsp;&nbsp;&nbsp;序号:{{index}}</li>
	</ul>

	<h4>v-if和v-show</h4>
	<button @click="handleCondition">达标切换</button>
	<div v-if="conditionSwitch">符合条件[v-if]</div>
	<p v-show="conditionSwitch">符合条件[v-show]</p>

	<h4>计算属性和监听器</h4>
	姓 : <input type="text" v-model="computedProp1"> <br>
	名 : <input type="text" v-model="computedProp2"> <br>
	<div>属性变化了: {{ computedCount }} 次</div>
	全名: <p>{{ computedPropName }}</p>

	<h4>双向绑定</h4>
	<input type="text" v-model="twoWayContent">
	<p>{{ twoWayContent }}</p>

	<h4>单向绑定</h4>
	<input type="text" :value="oneWayContent">
	<p>{{ oneWayContent }}</p>

	<h4>属性绑定</h4>
	<p :title="title">动态属性绑定</p>

	<h4>click方法</h4>
	<p @click="handleClick">click me methods</p>

	<h4>插值表达式</h4>
	<p>{{ msg }}</p>

	<h4>绑定模式:text</h4>
	<p v-text="number"></p>

	<h4>绑定模式:html</h4>
	<p v-html="h4Font"></p>

</div>

<script src="js/vue-2.4.0.js"></script>
<script src="js/index.js"></script>
</body>
</html>
